[user]
	name = Andrey Arzamaskov
	email = arzamaskov@gmail.com

[alias]
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s %d [%an]\" --graph --date=short
    ck = checkout
    cm = commit
